<div class="nested-fields" %>
    <div class="row">
      <div class="field">
        <%= f.label :name %>
        <%= f.select :name, @service_dropdown %>
      </div>
      
      <div class="field">
        <%= link_to_remove_association "Remove Service", f, class: "btn btn-danger" %>
      </div>
    </div>
</div>